/*////////////// Fonts //////////////*/

@font-face {
	font-family: "Baskerville";
	src: url("./fonts/baskerville.ttc") format("ttc")
  }
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	font-family: 'Baskerville', serif;
	font-size: 4em;
	font-weight: lighter;
}

h1, h2 {
	color: #A4AFAB;
}

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

li, #header-image {
	border: 5px solid #A4AFAB;
	margin: 2px 
}


li:hover {
	border-color: #757C7A
}

img {
	display: block;
}

